/* utility classes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
  font-family: 'Lato', sans-serif;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  max-width: 100%
}

.p-l {
  padding-left: 30px
}

.flex-container {
  display: flex
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.text-uppercase {
  text-transform: uppercase
}

.text-center {
  text-align: center
}
/* end utility classes */

.flex-container ul {
  justify-content: space-between;
}

.total-content {
  height: calc(100% - 90px);
  background: #ccc
}

.main-nav {
  width: 230px;
  height: 100%;
  overflow-y: hidden;
  background: #000
}

.main-nav ul li:first-child img {
  height: 50px
}

.main-nav img {
  height: 30px
}

.main-nav ul li {
  color: #ccc;
  padding: 6px 0;
  list-style-type: none
}

.content {
  width: calc(100% - 230px);
  overflow-y: auto;
  background: #141922;
  height: 100%
}

.upgrade {
  position: fixed;
  width: calc(100% - 230px);
  background: rgba(0,0,0,.5);
  height: 90px;
}

.upgrade a {
  border: 1px solid #ccc;
  text-decoration: none;
  color: #fff;
  border-radius: 50px;
  padding: 10px 30px;
  font-weight: bold;
}

.text-center li {
  list-style-type: none;
  display: inline-block;
  color: #ccc
}

.main-nav-right {
  margin-top: 90px
}

footer {
  height: 90px;
  background: #242424
}
